streamlit==1.62.0
python-dotenv==1.2.3
google-genai==2.20.0
pymupdf==1.28.2
pytesseract==0.3.13
pypdf==6.16.2
faiss-cpu==1.15.0
numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2
sentence-transformers==5.1.0
torch==2.7.1
torchvision==0.22.1
transformers==4.57.1
